<launch>
  <arg name="publish_rate" default="20.0" />
  <arg name="range_noise_stddev" default="0.03" />
  <arg name="range_bias" default="0.0" />
  <arg name="nlos_probability" default="0.0" />
  <arg name="nlos_bias" default="0.40" />
  <arg name="dropout_probability" default="0.0" />
  <arg name="car2_time_offset_s" default="0.0" />

  <node pkg="uwb_coop_localization"
        type="two_car_uwb_simulator.py"
        name="two_car_uwb_simulator"
        output="screen">
    <param name="publish_rate" value="$(arg publish_rate)" />
    <param name="range_noise_stddev" value="$(arg range_noise_stddev)" />
    <param name="range_bias" value="$(arg range_bias)" />
    <param name="nlos_probability" value="$(arg nlos_probability)" />
    <param name="nlos_bias" value="$(arg nlos_bias)" />
    <param name="dropout_probability" value="$(arg dropout_probability)" />
    <param name="car2_time_offset_s" value="$(arg car2_time_offset_s)" />
  </node>
</launch>
