<launch>
  <arg name="input_topic" default="/uwb/tag1/ranges" />
  <arg name="output_topic" default="/uwb/tag1/pose" />

  <node pkg="uwb_coop_localization"
        type="uwb_localizer.py"
        name="uwb_localizer"
        output="screen">

    <!-- Load frame_id and Anchor coordinates into the private namespace. -->
    <rosparam command="load"
              file="$(find uwb_coop_localization)/config/anchors.yaml" />

    <param name="input_topic" value="$(arg input_topic)" />
    <param name="output_topic" value="$(arg output_topic)" />
  </node>
</launch>
